/*Neffesh*/
#user-rollover.id-6507798 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-6507798 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-6507798 .meta{
	height:146px!important
}


/*fløwer*/
#user-rollover.id-22517314 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 140px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-22517314 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:140px;
	left:130px
}
#user-rollover.id-22517314 .meta{
	height:166px!important
}

/*Denovuan*/
#user-rollover.id-3432252 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-3432252 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-3432252 .meta{
	height:146px!important
}


/*Lecin*/
#user-rollover.id-45697975 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-45697975 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-45697975 .meta{
	height:146px!important
}

/*DATABASE*/
#user-rollover.id-3926149 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-3926149 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-3926149 .meta{
	height:146px!important
}

/*bllueberry*/
#user-rollover.id-33369539 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-33369539 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-33369539 .meta{
	height:146px!important
}


/*Fake*/
#user-rollover.id-33479737 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-33479737 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-33479737 .meta{
	height:146px!important
}


/*Saorii Kido*/
#user-rollover.id-44257813 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-44257813 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-44257813 .meta{
	height:146px!important
}

/*Erick Couto*/
#user-rollover.id-44475220 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-44475220 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-44475220 .meta{
	height:146px!important
}


/*korogui*/
#user-rollover.id-18919754 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-18919754 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-18919754 .meta{
	height:146px!important
}

/*Mumm-Rá*/
#user-rollover.id-3430994 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-3430994 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-3430994 .meta{
	height:146px!important
}

/*Thales-Thalessa*/
#user-rollover.id-25621593 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-25621593 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-25621593 .meta{
	height:146px!important
}


/*Parolaaaa*/
#user-rollover.id-42451367 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-42451367 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-42451367 .meta{
	height:146px!important
}


/*Bloom*/
#user-rollover.id-3148591 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 140px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-3148591 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:140px;
	left:130px
}
#user-rollover.id-3148591 .meta{
	height:166px!important
}

/*Blueghost*/
#user-rollover.id-38847181 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-38847181 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-38847181 .meta{
	height:146px!important
}


/*CriZtiana*/
#user-rollover.id-22640563 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-22640563 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-22640563 .meta{
	height:146px!important
}

/*koyotekira*/
#user-rollover.id-41149475 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-41149475 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-41149475 .meta{
	height:146px!important
}

/*Lopa666*/
#user-rollover.id-39666046 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-39666046 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-39666046 .meta{
	height:146px!important
}

/*Ward EB*/
#user-rollover.id-6578930 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-6578930 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-6578930 .meta{
	height:146px!important
}

/*Burkyst*/
#user-rollover.id-20574971 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-20574971 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-20574971 .meta{
	height:146px!important
}

/*Noir*/
#user-rollover.id-27929333 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-27929333 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-27929333 .meta{
	height:146px!important
}

/*The Ragz*/
#user-rollover.id-4160673 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-4160673 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-4160673 .meta{
	height:146px!important
}

/*gustalopz*/
#user-rollover.id-44698689 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-44698689 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-44698689 .meta{
	height:146px!important
}

/*Dez105*/
#user-rollover.id-23316349 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-23316349 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-23316349 .meta{
	height:146px!important
}

/*!Special Agent Frosty*/
#user-rollover.id-3998944 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-3998944 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-3998944 .meta{
	height:146px!important
}

/*MamãeFalhei*/
#user-rollover.id-4404834 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-4404834 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-4404834 .meta{
	height:146px!important
}

/*aqua*/
#user-rollover.id-19460660 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-19460660 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-19460660 .meta{
	height:146px!important
}

/*M.R-PICKLES*/
#user-rollover.id-43191142 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-43191142 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-43191142 .meta{
	height:146px!important
}

/*Aelfy*/
#user-rollover.id-5579813 .meta:before {
    content: url(https://raw.githack.com/brazilex/css/master/images/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-5579813 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-5579813 .meta{
	height:146px!important
}
