/*Neffesh*/
#user-rollover.id-6507798 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-6507798 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-6507798 .meta{
	height:146px!important
}


/*maricls*/
#user-rollover.id-29551770 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-29551770 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-29551770 .meta{
	height:146px!important
}

/*Serenita*/
#user-rollover.id-44331478 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-44331478 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-44331478 .meta{
	height:146px!important
}


/*Al Capone*/
#user-rollover.id-4208767 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-4208767 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-4208767 .meta{
	height:146px!important
}

/*-Death Gun*/
#user-rollover.id-27880115 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-27880115 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-27880115 .meta{
	height:146px!important
}

/*blluberry*/
#user-rollover.id-33369539 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-33369539 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-33369539 .meta{
	height:146px!important
}


/*Fake*/
#user-rollover.id-33479737 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-33479737 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-33479737 .meta{
	height:146px!important
}


/*Saorii Kido*/
#user-rollover.id-44257813 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-44257813 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-44257813 .meta{
	height:146px!important
}

/*Erick Couto*/
#user-rollover.id-44475220 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-44475220 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-44475220 .meta{
	height:146px!important
}


/*korogui*/
#user-rollover.id-18919754 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-18919754 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-18919754 .meta{
	height:146px!important
}

/*Mumm-Rá*/
#user-rollover.id-3430994 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-3430994 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-3430994 .meta{
	height:146px!important
}

/*Thales-Thalessa*/
#user-rollover.id-25621593 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-25621593 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-25621593 .meta{
	height:146px!important
}


/*AluCard*/
#user-rollover.id-3861495 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-3861495 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-3861495 .meta{
	height:146px!important
}


/*Bloom*/
#user-rollover.id-3148591 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 140px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-3148591 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:140px;
	left:130px
}
#user-rollover.id-3148591 .meta{
	height:166px!important
}

/*Blueghost*/
#user-rollover.id-38847181 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-38847181 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-38847181 .meta{
	height:146px!important
}


/*CriZtiana*/
#user-rollover.id-22640563 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-22640563 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-22640563 .meta{
	height:146px!important
}

/*koyotekira*/
#user-rollover.id-41149475 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-41149475 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-41149475 .meta{
	height:146px!important
}

/*Lopa666*/
#user-rollover.id-39666046 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-39666046 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-39666046 .meta{
	height:146px!important
}

/*Ward EB*/
#user-rollover.id-6578930 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-6578930 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-6578930 .meta{
	height:146px!important
}

/*Burkyst*/
#user-rollover.id-20574971 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-20574971 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-20574971 .meta{
	height:146px!important
}

/*Neon Genesis Evangelion*/
#user-rollover.id-25482766 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-25482766 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-25482766 .meta{
	height:146px!important
}

/*The Ragz*/
#user-rollover.id-4160673 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-4160673 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-4160673 .meta{
	height:146px!important
}

/*gustalopz*/
#user-rollover.id-44698689 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-44698689 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-44698689 .meta{
	height:146px!important
}

/*Dez105*/
#user-rollover.id-23316349 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-23316349 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-23316349 .meta{
	height:146px!important
}

/*Jheny*/
#user-rollover.id-5337806 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-5337806 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-5337806 .meta{
	height:146px!important
}

/*MamãeFalhei*/
#user-rollover.id-4404834 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-4404834 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-4404834 .meta{
	height:146px!important
}

/*matth52*/
#user-rollover.id-19460660 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Brazil-Lounge-Exclusive/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-19460660 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-19460660 .meta{
	height:146px!important
}
