/* Flower */
#user-rollover.id-22517314 .meta:before{
	content:url(https://imgur.com/qAEweES.png);
	top:138px;
	left:109px;
	position:absolute
}
#user-rollover.id-22517314 .meta:after{
	content:'Discord Membro\A Membro VIP';
	white-space:pre-wrap;
	color:#808691;
        font-size: 14px;
	position:absolute;
	top:135px;
	left:130px
}

#user-rollover.id-22517314 .meta{
	height:176px!important
}
 		
/* Burkyst */
#user-rollover.id-20574971 .meta:before{
    content:url(https://imgur.com/qAEweES.png);
    top:117px;
    left:109px;
    position:absolute
}
#user-rollover.id-20574971 .meta:after{
    content:'Discord Membro\A Membro VIP';
    white-space:pre-wrap;
    color:#808691;
        font-size: 14px;
    position:absolute;
    top:115px;
    left:130px
}

#user-rollover.id-20574971 .meta{
    height:156px!important
}

/* imagem no chat */
[data-cid^="20574971"] .msg .from .un {
position: relative;
padding-left: 20px;
background-image: url("https://imgur.com/uDDtvvd.png");
background-repeat: no-repeat;
background-position: 0px center;
background-size: 16px auto;
left: 0px;
} 		

/* DATABASE */
#user-rollover.id-3926149 .meta:before{
    content:url(https://imgur.com/qAEweES.png);
    top:117px;
    left:109px;
    position:absolute
}
#user-rollover.id-3926149 .meta:after{
    content:'Discord Membro\A Membro VIP';
    white-space:pre-wrap;
    color:#808691;
        font-size: 14px;
    position:absolute;
    top:115px;
    left:130px
}

#user-rollover.id-3926149 .meta{
    height:156px!important
}

/* imagem no chat */
[data-cid^="3926149"] .msg .from .un {
position: relative;
padding-left: 20px;
background-image: url("https://imgur.com/uDDtvvd.png");
background-repeat: no-repeat;
background-position: 0px center;
background-size: 16px auto;
left: 0px;
}
	
/* Axzy */
#user-rollover.id-15593328 .meta:before{
    content:url(https://imgur.com/qAEweES.png);
    top:117px;
    left:109px;
    position:absolute
}
#user-rollover.id-15593328 .meta:after{
    content:'Discord Membro\A Membro VIP';
    white-space:pre-wrap;
    color:#808691;
        font-size: 14px;
    position:absolute;
    top:115px;
    left:130px
}

#user-rollover.id-15593328 .meta{
    height:156px!important
}

/* imagem no chat */
[data-cid^="15593328"] .msg .from .un {
position: relative;
padding-left: 20px;
background-image: url("https://imgur.com/uDDtvvd.png");
background-repeat: no-repeat;
background-position: 0px center;
background-size: 16px auto;
left: 0px;
} 		

/* Bob George */
#user-rollover.id-33321181 .meta:before{
    content:url(https://imgur.com/qAEweES.png);
    top:117px;
    left:109px;
    position:absolute
}
#user-rollover.id-33321181 .meta:after{
    content:'Discord Membro\A Membro VIP';
    white-space:pre-wrap;
    color:#808691;
        font-size: 14px;
    position:absolute;
    top:115px;
    left:130px
}

#user-rollover.id-33321181 .meta{
    height:156px!important
}

/* imagem no chat */
[data-cid^="33321181"] .msg .from .un {
position: relative;
padding-left: 20px;
background-image: url("https://imgur.com/uDDtvvd.png");
background-repeat: no-repeat;
background-position: 0px center;
background-size: 16px auto;
left: 0px;
} 		

/* Khengaral */
#user-rollover.id-45221521 .meta:before{
    content:url(https://imgur.com/qAEweES.png);
    top:117px;
    left:109px;
    position:absolute
}
#user-rollover.id-45221521 .meta:after{
    content:'Discord Membro\A Membro VIP';
    white-space:pre-wrap;
    color:#808691;
        font-size: 14px;
    position:absolute;
    top:115px;
    left:130px
}

#user-rollover.id-45221521 .meta{
    height:156px!important
}

/* imagem no chat */
[data-cid^="45221521"] .msg .from .un {
position: relative;
padding-left: 20px;
background-image: url("https://imgur.com/uDDtvvd.png");
background-repeat: no-repeat;
background-position: 0px center;
background-size: 16px auto;
left: 0px;
} 		
